html,
body {
  height: 100%;
  overflow: hidden;
}
.select-mode {
  position: absolute;
  bottom: 0;
  left: 0;
}
.counter {
  text-align: center;
  font-size: 16px;
}
.writein-group {
    margin-bottom: 25px;
    margin-top: 0;
    overflow: hidden;
}
.writein-group .btn {
    margin-top: 5px;
}
.poll, .results {
  width: 300px;
  margin: 20px auto;
}
.results-wrapper {
    display: none;
}
.halloween-theme-item {
  display: none;
}
.christmas-theme-item {
  display: none;
}
.winternetz {
  display: none;
}
.christmas-body {
  background: rgb(176,212,226);
  $globe-width:   12px;
  $globe-height:  28px;
  $globe-spacing: 40px;
  $globe-spread: 3px;
  $light-off-opacity: 0.4;
  .christmas-theme-item {
    display: block !important;
  }
  .winternetz {
    display: block !important;
  }
  .halloween-theme-item {
    display: none !important;
  }
  .counter {
    color: #286090;
  }
  h1 {
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(236,27,36);
    margin-top: 75px;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
  .btn-primary, .results-wrapper .btn-primary:hover {
      background-color: rgb(124,189,48);
      border-color: rgb(124,189,48);
      cursor: default;
  }
  .btn-primary:hover {
      background-color: rgb(124,189,48);
      border-color: rgb(124,189,48);
      cursor: pointer;
  }
  .lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    li {
      position: relative;
      animation-fill-mode: both; 
      animation-iteration-count:infinite;
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      width: $globe-width;
      height: $globe-height;
      border-radius: 50%;
      margin: $globe-spacing/2;
      display: inline-block;
      background: rgba(226,8,8,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(226,8,8,1); //red
      animation-name: flash-1;
      animation-duration: 2s;
      &:nth-child(2n+1) {
        background: rgba(38,185,43,1);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(38,185,43,0.5); //green
        animation-name: flash-2;
        animation-duration: 0.4s;
      }
      &:nth-child(4n+2) {
        background: rgba(23,50,186,1);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(23,50,186,1); //blue
        animation-name: flash-3;
        animation-duration: 1.1s;
      } 
      &:nth-child(6n+3) {
        background: rgba(222,222,21,1);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,222,21,1); //yellow
        animation-name: flash-4;
        animation-duration: 1.1s;
      } 
      &:nth-child(8n+3) {
        background: rgba(222,128,21,1);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,128,21,1); //orange
        animation-name: flash-5;
        animation-duration: 1.1s;
      } 
      &:nth-child(odd) {
        animation-duration: 1.8s;
      }
      &:nth-child(3n+1) {
        animation-duration: 1.4s;
      }
      &:before {
        content: "";
        position: absolute;
        background: #222;
        width: ($globe-width - 2);
        height: $globe-height/3;
        border-radius: 3px;
        top: (0 - ($globe-height/6));
        left: 1px;
      }
      &:after {
        content: "";
        top: (0 - $globe-height/2);
        left: $globe-width - 3;
        position: absolute;
        width: $globe-spacing + 12;
        height: ($globe-height/3 * 2);
        border-bottom: solid #222 2px;
        border-radius: 50%;
      }
      &:last-child:after {
        content: none;
      }
      &:first-child {
        margin-left: -$globe-spacing;
      }
    }
  }
  @keyframes flash-1 { 
      0%, 100% { background: rgba(226,8,8,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(226,8,8,1);} 
      50% { background: rgba(226,8,8,$light-off-opacity);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(226,8,8,0.2);}
  }
  @keyframes flash-2 { 
      0%, 100% { background: rgba(38,185,43,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(38,185,43,1);} 
      50% { background: rgba(38,185,43,$light-off-opacity);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(38,185,43,0.2);}
  }
  @keyframes flash-3 { 
      0%, 100% { background: rgba(23,50,186,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(23,50,186,1);} 
      50% { background: rgba(23,50,186,$light-off-opacity);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(23,50,186,0.2);}
  }
  @keyframes flash-4 { 
      0%, 100% { background: rgba(222,222,21,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,222,21,1);} 
      50% { background: rgba(222,222,21,$light-off-opacity);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,222,21,0.2);}
  }
  @keyframes flash-5 { 
      0%, 100% { background: rgba(222,128,21,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,128,21,1);} 
      50% { background: rgba(222,128,21,$light-off-opacity);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(222,128,21,0.2);}
  }
}
.halloween-body {
  background: #222222;
  padding-top: 100px; 
  .halloween-theme-item {
    display: block !important;
  }
  .christmas-theme-item {
    display: none !important;
  }
  .winternetz {
    display: none !important;
  }
  h1 {
    font-family: 'Eater', cursive;
    color: #ff9a00;
  }
  .well {
      background-color: #ff9a00;
      border-color: #d28904;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
  .btn-primary, .results-wrapper .btn-primary:hover {
      background-color: #282828;
      border-color: #3b3b3b;
      cursor: default;
  }
  .btn-primary:hover {
      background-color: #3b3b3b;
      border-color: #3b3b3b;
      cursor: pointer;
  }
  .counter {
      color: #ff9a00; /* orange */
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 400
  }
  .spider-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    animation: inicio 5s ease-in-out forwards;
  }
  .spider-wrap::after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: -1000px;
    left: 50%;
    margin-left: 9px;
    width: 1px;
    height: 1000px;
  }
  .spider-wrap::before {
    background: #000000;
    border-radius: 100%;
    color: #222222;
    font-size: 1.3em;
    content: "......";
    position: absolute;
    margin-top: -5px;
    margin-left: -2px;
    width: 25px;
    height: 25px;
  }
  
  .uno,
  .dos,
  .tres,
  .cuatro {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 20px;
    height: 3px;
  }
  .uno > .uno,
  .dos > .dos,
  .tres > .tres,
  .cuatro > .cuatro {
    transform-origin: 20px top;
    transform: rotate(-80deg) translateX(20px);
    animation: seg 2.5s ease infinite;
  }
  .uno > .uno > .uno,
  .dos > .dos > .dos,
  .tres > .tres > .tres,
  .cuatro > .cuatro > .cuatro {
    transform-origin: 20px top;
    transform: rotate(10deg) translateX(20px);
    animation: seg 1.5s ease infinite;
  }
  .right > .dos > .dos {
    animation-delay: 200ms;
  }
  .dos > .dos {
    animation-delay: 400ms;
  }
  .dos > .dos > .dos {
    animation-delay: 200ms;
  }
  .right > .tres > .tres {
    animation-delay: 400ms;
  }
  .tres > .tres {
    animation-delay: 600ms;
  }
  .tres > .tres > .tres {
    animation-delay: 300ms;
  }
  .right > .cuatro > .cuatro {
    animation-delay: 100ms;
  }
  .cuatro > .cuatro {
    animation-delay: 800ms;
  }
  .cuatro > .cuatro > .cuatro {
    animation-delay: 400ms;
  }
  @keyframes seg {
    50% {
      transform: rotate(55deg) translateX(20px);
    }
  }
  @keyframes inicio {
    100% {
      top: 60px;
    }
  }
}
