html,
body {
  height: 100%;
  overflow: hidden; }

.select-mode {
  position: absolute;
  bottom: 0;
  left: 0; }

.counter {
  text-align: center;
  font-size: 16px; }

.writein-group {
  margin-top: 25px;
  margin-bottom: 0;
  overflow: hidden; }

.writein-group .btn {
  margin-top: 5px; }

.poll, .results {
  width: 300px;
  margin: 20px auto; }

.results-wrapper {
  display: none; }

.halloween-theme-item {
  display: none; }

.christmas-body {
  background: green; }

.halloween-body {
  background: #222222;
  padding-top: 100px; }
  .halloween-body .halloween-theme-item {
    display: block; }
  .halloween-body h1 {
    font-family: 'Eater', cursive;
    color: #ff9a00; }
  .halloween-body .well {
    background-color: #ff9a00;
    border-color: #d28904; }
  .halloween-body .btn-primary:hover, .halloween-body .btn-primary:focus, .halloween-body .btn-primary.focus, .halloween-body .btn-primary:active, .halloween-body .btn-primary.active, .halloween-body .open > .dropdown-toggle.btn-primary,
  .halloween-body .btn-primary, .halloween-body .results-wrapper .btn-primary:hover {
    background-color: #282828;
    border-color: #3b3b3b;
    cursor: default; }
  .halloween-body .btn-primary:hover {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
    cursor: pointer; }
  .halloween-body .counter {
    color: #ff9a00;
    /* orange */
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400; }
  .halloween-body .spider-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    animation: inicio 5s ease-in-out forwards; }
  .halloween-body .spider-wrap::after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: -1000px;
    left: 50%;
    margin-left: 9px;
    width: 1px;
    height: 1000px; }
  .halloween-body .spider-wrap::before {
    background: #000000;
    border-radius: 100%;
    color: #222222;
    font-size: 1.3em;
    content: "......";
    position: absolute;
    margin-top: -5px;
    margin-left: -2px;
    width: 25px;
    height: 25px; }
  .halloween-body .uno,
  .halloween-body .dos,
  .halloween-body .tres,
  .halloween-body .cuatro {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 20px;
    height: 3px; }
  .halloween-body .uno > .uno,
  .halloween-body .dos > .dos,
  .halloween-body .tres > .tres,
  .halloween-body .cuatro > .cuatro {
    transform-origin: 20px top;
    transform: rotate(-80deg) translateX(20px);
    animation: seg 2.5s ease infinite; }
  .halloween-body .uno > .uno > .uno,
  .halloween-body .dos > .dos > .dos,
  .halloween-body .tres > .tres > .tres,
  .halloween-body .cuatro > .cuatro > .cuatro {
    transform-origin: 20px top;
    transform: rotate(10deg) translateX(20px);
    animation: seg 1.5s ease infinite; }
  .halloween-body .right > .dos > .dos {
    animation-delay: 200ms; }
  .halloween-body .dos > .dos {
    animation-delay: 400ms; }
  .halloween-body .dos > .dos > .dos {
    animation-delay: 200ms; }
  .halloween-body .right > .tres > .tres {
    animation-delay: 400ms; }
  .halloween-body .tres > .tres {
    animation-delay: 600ms; }
  .halloween-body .tres > .tres > .tres {
    animation-delay: 300ms; }
  .halloween-body .right > .cuatro > .cuatro {
    animation-delay: 100ms; }
  .halloween-body .cuatro > .cuatro {
    animation-delay: 800ms; }
  .halloween-body .cuatro > .cuatro > .cuatro {
    animation-delay: 400ms; }
@keyframes seg {
  50% {
    transform: rotate(55deg) translateX(20px); } }
@keyframes inicio {
  100% {
    top: 60px; } }

/*# sourceMappingURL=app.css.map */
